{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Jobs Finder-Edit Profile</title>
</head>

<body onload="createoptionsalary()">
<center>
<div class="nav">
<center>
<div class="header">
    <div class="navbar home" id="drop"><span id="shift" style="color:black"><a href="/">Home</a></span></div>
    <div class="navbar job" id="drop"><span id="shift" style="color:black"><a href="/signup/">Job Seeker Login</a></span></div>
    <div class="navbar job" id="drop"><span id="shift" style="color:black"><a href="/resumeservice/">Resume Services</a></span></div>
    <div class="navbar recruiter" id="drop"><span id="shift" style="color:black"><a href="/edit_profile/">Post Resume</a></span></div>
    <div class="navbar search_job" id="drop"><span id="shift" style="color:black"><a href="/searchjob/">Search Jobs</a></span></div>
    <div class="navbar job" id="drop"><span id="shift" style="color:black"><a href="/recruiter/">Employer Login</a></span></div>
    <div class="navbar job" id="drop"><span id="shift" style="color:black"><a href="/postjob/">Post a Job</a></span></div>
    <div class="navbar last" id="drop"><span id="shift" style="color:black"><a href="/buyonline/">Buy Online</a></span></div>
</div>
</center>
</div>
<div class="profilelink same"><h3><a href="/profile/">Profile</a></h3></div><div class="signout same">({{ email }}) <a href="/logout/" style="font-weight:bold;">Logout</a></div><br/>
<div class="full form">
<form action="/savechanges/" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
    <tr><th colspan="3"><span id="complete">Complete your Profile !!!</span></th></tr>
    <th colspan="3"><div id="heading_one"><span id="title">Personal Information:</span></div></th>
    <tr><td><br/></td></tr>
    <tr>
    <td class="form-text">Full Name: </td>    
    <td><input type="text" id="form_align" name="f_name" value = "{% if profile.name %}{{ profile.name }}{% endif %}" placeholder="Enter Full Name" style="font-size:15px;"/></td>
    </tr>
    <tr>
    <td class="form-text">Current Location: </td>    
    <td><input type="text" id="form_align" name="c_location" value = "{% if profile.location %}{{ profile.location }}{% endif %}"  placeholder="Enter City Name" style="font-size:15px;"/></td>
    <td><input type="checkbox" value = "{% if profile.agree %}{{ profile.agree }}{% endif %}" name="agree"/>Outside US</td>
    </tr>
    <tr>
    <td class="form-text">Gender: </td>    
    <td><select value = "{% if profile.gender %}{{ profile.gender }}{% endif %}" name="gender">
    <option value="">Select</option>
    <option value="Male" {% if profile.gender == "Male" %}selected="selected"{% endif %}>Male</option>
    <option value="Female" {% if profile.gender == "Female" %}selected="selected"{% endif %}>Female</option>
    <option value="Other" {% if profile.gender == "Other" %}selected="selected"{% endif %}>Other</option>
    </select></td>
    </tr>
    <tr><td><br/></td></tr>
    <th colspan="3"><div id="heading_one"><span id="title">Current/Latest/Future Employment Details</span></div></th>
    <tr><td><br/></td></tr>
    <tr>
    <td class="form-text">Total Experience: </td>    
    <td><select value = "{% if profile.exp %}{{ profile.exp }}{% endif %}" name="experience">
    <option value="">Select</option>
    <option value="0" {% if profile.exp == "Fresher" %}selected="selected"{% endif %}>Fresher</option>
    <option value="1" {% if profile.exp == "1" %}selected="selected"{% endif %}>1  </option>
    <option value="2" {% if profile.exp == "2" %}selected="selected"{% endif %}>2  </option>
    <option value="3" {% if profile.exp == "3" %}selected="selected"{% endif %}>3  </option>
    <option value="4" {% if profile.exp == "4" %}selected="selected"{% endif %}>4  </option>
    <option value="5" {% if profile.exp == "5" %}selected="selected"{% endif %}>5  </option>
    <option value="6" {% if profile.exp == "6" %}selected="selected"{% endif %}>6  </option>
    <option value="7" {% if profile.exp == "7" %}selected="selected"{% endif %}>7  </option>
    <option value="8" {% if profile.exp == "8" %}selected="selected"{% endif %}>8  </option>
    <option value="9" {% if profile.exp == "9" %}selected="selected"{% endif %}>9  </option>
    <option value="10" {% if profile.exp == "10" %}selected="selected"{% endif %}>10  </option>
    <option value="11" {% if profile.exp == "11" %}selected="selected"{% endif %}>11  </option>
    <option value="12" {% if profile.exp == "12" %}selected="selected"{% endif %}>12  </option>
    <option value="13" {% if profile.exp == "13" %}selected="selected"{% endif %}>13  </option>
    <option value="14" {% if profile.exp == "14" %}selected="selected"{% endif %}>14  </option>
    <option value="15" {% if profile.exp == "15" %}selected="selected"{% endif %}>15  </option>
    <option value="16" {% if profile.exp == "16" %}selected="selected"{% endif %}>16  </option>
    <option value="17" {% if profile.exp == "17" %}selected="selected"{% endif %}>17  </option>
    <option value="18" {% if profile.exp == "18" %}selected="selected"{% endif %}>18  </option>
    <option value="19" {% if profile.exp == "19" %}selected="selected"{% endif %}>19  </option>
    <option value="20" {% if profile.exp == "20" %}selected="selected"{% endif %}>20  </option>
    <option value="21" {% if profile.exp == "21" %}selected="selected"{% endif %}>21  </option>
    <option value="22" {% if profile.exp == "22" %}selected="selected"{% endif %}>22  </option>
    <option value="23" {% if profile.exp == "23" %}selected="selected"{% endif %}>23  </option>
    <option value="24" {% if profile.exp == "24" %}selected="selected"{% endif %}>24  </option>
    <option value="25" {% if profile.exp == "25" %}selected="selected"{% endif %}>25  </option>
    <option value="26" {% if profile.exp == "26" %}selected="selected"{% endif %}>26  </option>
    <option value="27" {% if profile.exp == "27" %}selected="selected"{% endif %}>27  </option>
    <option value="28" {% if profile.exp == "28" %}selected="selected"{% endif %}>28  </option>
    <option value="29" {% if profile.exp == "29" %}selected="selected"{% endif %}>29  </option>
    <option value="30" {% if profile.exp == "30" %}selected="selected"{% endif %}>30+  </option>
    </select>
    </td>
    </tr>
    <tr>
    <td class="form-text">Job Title: </td>    
    <td>
    <input type="text" id="form_align" value = "{% if profile.title %}{{ profile.title }}{% endif %}"  name="title" style="font-size:15px;"/>
    </td>
    </tr>
    <tr>
    <td class="form-text">Company Name: </td>    
    <td>
    <input type="text" id="form_align" value = "{% if profile.company %}{{ profile.company }}{% endif %}"  name="company" style="font-size:15px;"/>
    </td>
    </tr>
    <tr>
    <td class="form-text">Key Skills: </td>    
    <td>
    <textarea placeholder="Enter the skills you have" value = "{% if profile.skills %}{{ profile.skills }}{% endif %}"  name="skills" id="key_skills" rows=2 cols=28>{% if profile.skills %}{{ profile.skills }}{% endif %}</textarea>
    </td>
    </tr>
    <tr>
    <td class="form-text">Company Sector: </td>    
    <td>
    <select value = "{% if profile.sector %}{{ profile.sector }}{% endif %}"  name="sector">
    <option value="">Select</option>
    <option value="none" style="font-weight:bold;" {% if profile.sector == "none" %}selected="selected"{% endif %}>-----Top Sectors-----</option>
        <option value="IT-Software/Software Services" {% if profile.sector == "IT-Software/Software Services" %}selected="selected"{% endif %}>IT-Software/Software Services</option>
    	<option value="Accounting/Finance" {% if profile.sector == "Accounting/Finance" %}selected="selected"{% endif %}>Accounting/Finance</option>
    	<option value="Fresher/Trainee" {% if profile.sector == "Fresher/Trainee" %}selected="selected"{% endif %}>Fresher/Trainee</option>
    	<option value="Banking" {% if profile.sector == "Banking" %}selected="selected"{% endif %}>Banking</option>
    	<option value="Financial Services" {% if profile.sector == "Financial Services" %}selected="selected"{% endif %}>Financial Services</option>
    	<option value="Engineering/Construction" {% if profile.sector == "Engineering/Construction" %}selected="selected"{% endif %}>Engineering/Construction</option>
    	<option value="Education/Training" {% if profile.sector == "Education/Training" %}selected="selected"{% endif %}>Education/Training</option>
    	<option value="BPO/Call Center" {% if profile.sector == "BPO/Call Center" %}selected="selected"{% endif %}>BPO/Call Center</option>
    	<option value="IT Hardware/Networking" {% if profile.sector == "IT Hardware/Networking" %}selected="selected"{% endif %}>IT Hardware/Networking</option>
    	<option value="Automobile" {% if profile.sector == "Automobile" %}selected="selected"{% endif %}>Automobile</option>
    	<option value="Telecom" {% if profile.sector == "Telecom" %}selected="selected"{% endif %}>Telecom</option>
    	<option value="Medical/Health Care" {% if profile.sector == "Medical/Health Care" %}selected="selected"{% endif %}>Medical/Health Care</option>
    	<option value="Other Sectors" style="font-weight:bold;" {% if profile.sector == "Other Sectors" %}selected="selected"{% endif %}>-----Other Sectors-----</option>
    	<option value="Advertising/MR/PR/Events" {% if profile.sector == "Advertising/MR/PR/Events" %}selected="selected"{% endif %}>Advertising/MR/PR/Events</option>
    	<option value="Agriculture/Dairy" {% if profile.sector == "Agriculture/Dairy" %}selected="selected"{% endif %}>Agriculture/Dairy</option>
    	<option value="Architecture/Interior Design" {% if profile.sector == "Architecture/Interior Design" %}selected="selected"{% endif %}>Architecture/Interior Design</option>
    	<option value="Astrology" {% if profile.sector == "Astrology" %}selected="selected"{% endif %}>Astrology</option>
    	<option value="Aviation/Airline" {% if profile.sector == "Aviation/Airline" %}selected="selected"{% endif %}>Aviation/Airline</option>
    	<option value="Cement/Building Material" {% if profile.sector == "Cement/Building Material" %}selected="selected"{% endif %}>Cement/Building Material</option>
    	<option value="Chemical/Plastic/Rubber/Glass" {% if profile.sector == "Chemical/Plastic/Rubber/Glass" %}selected="selected"{% endif %}>Chemical/Plastic/Rubber/Glass</option>
    	<option value="Consumer Durables/Electronics" {% if profile.sector == "Consumer Durables/Electronics" %}selected="selected"{% endif %}>Consumer Durables/Electronics</option>
    	<option value="Environment/Waste Management" {% if profile.sector == "Environment/Waste Management" %}selected="selected"{% endif %}>Environment/Waste Management</option>
    	<option value="Export-Import/Trading" {% if profile.sector == "Export-Import/Trading" %}selected="selected"{% endif %}>Export-Import/Trading</option>
    	<option value="Fertilizers/Pesticides" {% if profile.sector == "Fertilizers/Pesticides" %}selected="selected"{% endif %}>Fertilizers/Pesticides</option>
    	<option value="FMCG/F&B" {% if profile.sector == "FMCG/F&B" %}selected="selected"{% endif %}>FMCG/F&B</option>
    	<option value="Furnishings/Sanitaryware/Electricals" {% if profile.sector == "Furnishings/Sanitaryware/Electricals" %}selected="selected"{% endif %}>Furnishings/Sanitaryware/Electricals</option>
    	<option value="Gems/Jewellery" {% if profile.sector == "Gems/Jewellery" %}selected="selected"{% endif %}>Gems/Jewellery</option>
    	<option value="Gifts/Toys/Stationary" {% if profile.sector == "Gifts/Toys/Stationary" %}selected="selected"{% endif %}>Gifts/Toys/Stationary</option>
    	<option value="Government Department" {% if profile.sector == "Government Department" %}selected="selected"{% endif %}>Government Department</option>
    	<option value="Hotel/Restaurant" {% if profile.sector == "Hotel/Restaurant" %}selected="selected"{% endif %}>Hotel/Restaurant</option>
    	<option value="Industrial Design" {% if profile.sector == "Industrial Design" %}selected="selected"{% endif %}>Industrial Design</option>
    	<option value="Insurance" {% if profile.sector == "Insurance" %}selected="selected"{% endif %}>Insurance</option>
    	<option value="KPO/Analytics" {% if profile.sector == "KPO/Analytics" %}selected="selected"{% endif %}>KPO/Analytics</option>
    	<option value="Legal" {% if profile.sector == "Legal" %}selected="selected"{% endif %}>Legal</option>
    	<option value="Logistics/Courier/Transportation" {% if profile.sector == "Logistics/Courier/Transportation" %}selected="selected"{% endif %}>Logistics/Courier/Transportation</option>
    	<option value="Management Consulting/Strategy" {% if profile.sector == "Management Consulting/Strategy" %}selected="selected"{% endif %}>Management Consulting/Strategy</option>
    	<option value="Matrimony" {% if profile.sector == "Matrimony" %}selected="selected"{% endif %}>Matrimony</option>
    	<option value="Media/Dotcom/Entertainment" {% if profile.sector == "Media/Dotcom/Entertainment" %}selected="selected"{% endif %}>Media/Dotcom/Entertainment</option>
    	<option value="Merchant Navy" {% if profile.sector == "Merchant Navy" %}selected="selected"{% endif %}>Merchant Navy</option>
    	<option value="Metal/Iron/Steel" {% if profile.sector == "Metal/Iron/Steel" %}selected="selected"{% endif %}>Metal/Iron/Steel</option>
    	<option value="Military/Police/Arms & Ammunition" {% if profile.sector == "Military/Police/Arms & Ammunition" %}selected="selected"{% endif %}>Military/Police/Arms & Ammunition</option>
    	<option value="Mining" {% if profile.sector == "Mining" %}selected="selected"{% endif %}>Mining</option>
    	<option value="NGO/Social Work" {% if profile.sector == "NGO/Social Work" %}selected="selected"{% endif %}>NGO/Social Work</option>
    	<option value="Oil & Gas/Petroleum" {% if profile.sector == "Oil & Gas/Petroleum" %}selected="selected"{% endif %}>Oil & Gas/Petroleum</option>
    	<option value="Paint" {% if profile.sector == "Paint" %}selected="selected"{% endif %}>Paint</option>
    	<option value="Paper/Wood" {% if profile.sector == "Paper/Wood" %}selected="selected"{% endif %}>Paper/Wood</option>
    	<option value="Personal Care/Beauty" {% if profile.sector == "Personal Care/Beauty" %}selected="selected"{% endif %}>Personal Care/Beauty</option>
    	<option value="Pharma/Biotech" {% if profile.sector == "Pharma/Biotech" %}selected="selected"{% endif %}>Pharma/Biotech</option>
    	<option value="Politics" {% if profile.sector == "Politics" %}selected="selected"{% endif %}>Politics</option>
    	<option value="Power/Energy" {% if profile.sector == "Power/Energy" %}selected="selected"{% endif %}>Power/Energy</option>
    	<option value="Printing/Packaging" {% if profile.sector == "Printing/Packaging" %}selected="selected"{% endif %}>Printing/Packaging</option>
    	<option value="Quality Certification" {% if profile.sector == "Quality Certification" %}selected="selected"{% endif %}>Quality Certification</option>
    	<option value="Real Estate" {% if profile.sector == "Real Estate" %}selected="selected"{% endif %}>Real Estate</option>
    	<option value="Recruitment Services" {% if profile.sector == "Recruitment Services" %}selected="selected"{% endif %}>Recruitment Services</option>
    	<option value="Religion/Sprituality" {% if profile.sector == "Religion/Sprituality" %}selected="selected"{% endif %}>Religion/Sprituality</option>
    	<option value="Retail" {% if profile.sector == "Retail" %}selected="selected"{% endif %}>Retail</option>
    	<option value="Sculpture/Craft" {% if profile.sector == "Sculpture/Craft" %}selected="selected"{% endif %}>Sculpture/Craft</option>
    	<option value="Security/Detective Services" {% if profile.sector == "Security/Detective Services" %}selected="selected"{% endif %}>Security/Detective Services</option>
    	<option value="Sports/Fitness" {% if profile.sector == "Sports/Fitness" %}selected="selected"{% endif %}>Sports/Fitness</option>
    	<option value="Textile/Garments/Fashion" {% if profile.sector == "Textile/Garments/Fashion" %}selected="selected"{% endif %}>Textile/Garments/Fashion</option>
    	<option value="Travel/Tourism" {% if profile.sector == "Travel/Tourism" %}selected="selected"{% endif %}>Travel/Tourism</option>
    	<option value="Unskilled Labour/Domestic Help" {% if profile.sector == "Unskilled Labour/Domestic Help" %}selected="selected"{% endif %}>Unskilled Labour/Domestic Help</option>
    	<option value="Veterinary Science/Pet Care" {% if profile.sector == "Veterinary Science/Pet Care" %}selected="selected"{% endif %}>Veterinary Science/Pet Care</option>
    	<option value="Water Treatment/Waste Management" {% if profile.sector == "Water Treatment/Waste Management" %}selected="selected"{% endif %}>Water Treatment/Waste Management</option>
    	<option value="Others" {% if profile.sector == "Others" %}selected="selected"{% endif %}>Others</option>
    </select>
    </td>
    </tr>
    <tr>
    <td class="form-text">Functional Area: </td>    
    <td>
    <select value = "{% if profile.functional %}{{ profile.functional }}{% endif %}"  name="functional">
    <option value="">Select</option>
    <option value="none" style="font-weight:bold;">-----Top Areas-----</option>
    	<option value="Accounts/Finance/Tax/CS/Audit">Accounts/Finance/Tax/CS/Audit</option>
    	<option value="Production/Maintenance/Quality">Production/Maintenance/Quality</option>
    	<option value="IT Software-Application Programming/Maintenance">IT Software-Application Programming/Maintenance</option>
    	<option value="Banking/Insurance">Banking/Insurance</option>
    	<option value="ITES/BPO/KPO/Customer Service/Operations">ITES/BPO/KPO/Customer Service/Operations</option>
    	<option value="none">-----Other Areas-----</option>
    	<option value="Agent">Agent</option>
    	<option value="Analytics & Business Intelligence">Analytics & Business Intelligence</option>
    	<option value="Architecture/Interior Design">Architecture/Interior Design</option>
    	<option value="Content/Journalism">Content/Journalism</option>
    	<option value="Corporate Planning/Consulting">Corporate Planning/Consulting</option>
    	<option value="Enginnering Design/R&D">Enginnering Design/R&D</option>
    	<option value="Export/Import/Merchadising">Export/Import/Merchadising</option>
    	<option value="Fashion/Garments/Merchandising">Fashion/Garments/Merchandising</option>
    	<option value="Guards/Security Services">Guards/Security Services</option>
    	<option value="Hotels/Restaurants">Hotels/Restaurants</option>
    	<option value="HR/Administration/IR">HR/Administration/IR</option>
    	<option value="IT Software-Client Server">IT Software-Client Server</option>
    	<option value="IT Software-Mainframe">IT Software-Mainframe</option>
    	<option value="IT Software-Middleware">IT Software-Middleware</option>
    	<option value="IT Software-Mobile">IT Software-Mobile</option>
    	<option value="IT Software-Other">IT Software-Other</option>
    	<option value="IT Software-System Programming">IT Software-System Programming</option>
    	<option value="IT Software-Telecom Software">IT Software-Telecom Software</option>
    	<option value="IT Software-DBA/Dataware housing">IT Software-DBA/Dataware housing</option>
    	<option value="IT Software-E-commerce/Internet Technologies">IT Software-E-commerce/Internet Technologies</option>
    	<option value="IT Software-Embedded/EDA/VLSI/ASIC/Chip Des.">IT Software-Embedded/EDA/VLSI/ASIC/Chip Des.</option>
    	<option value="IT Software-ERP/CRM">IT Software-ERP/CRM</option>
    	<option value="IT Software-Network Administration/Security">IT Software-Network Administration/Security</option>
    	<option value="IT Software-QA & Testing">IT Software-QA & Testing</option>
    	<option value="IT Software-Systems/EDP/MIS">IT Software-Systems/EDP/MIS</option>
    	<option value="IT-Hardware/Telecom/Technical Staff/Support">IT-Hardware/Telecom/Technical Staff/Support</option>
    	<option value="Legal">Legal</option>
    	<option value="Marketing/Advertising/MR/PR">Marketing/Advertising/MR/PR</option>
    	<option value="Packaging">Packaging</option>
    	<option value="Pharma/Biotech/Healthcare/Medical/R&D">Pharma/Biotech/Healthcare/Medical/R&D</option>
    	<option value="Purchase/Logistics/Supply Chain">Purchase/Logistics/Supply Chain</option>
    	<option value="Sales/BD">Sales/BD</option>
    	<option value="Secretary/Front Office/Data Entry">Secretary/Front Office/Data Entry</option>
    	<option value="Self Employed/Consultants">Self Employed/Consultants</option>
    	<option value="Shipping">Shipping</option>
    	<option value="Site Engineering/Project Management">Site Engineering/Project Management</option>
    	<option value="Teaching/Education">Teaching/Education</option>
    	<option value="Ticketing/Travel/Airlines">Ticketing/Travel/Airlines</option>
    	<option value="Top Management">Top Management</option>
    	<option value="TV/Films/Production">TV/Films/Production</option>
    	<option value="Web/Graphic Design/Visualiser">Web/Graphic Design/Visualiser</option>
    	<option value="Other">Other</option>
    </select>
    </td>
    </tr>
    <tr>
    <td class="form-text">Salary: </td>
    <td>
    <select name="minsalary" id="salarymin">
    <option value="">--Average Salary--</option>
    </select>
    </td>
    </tr>
    <tr><td><br/></td></tr>
    <th colspan="3"><div id="heading_one"><span id="title">Education Details</span></div></th>
    <tr><td><br/></td></tr>
    <tr>
    <td class="form-text">Qualification: </td>    
    <td>
    <select value = "{% if profile.qualification %}{{ profile.qualification }}{% endif %}"  name="qualification">
    <option value="">----Select Highest Qualification----</option>
    	<option value="Illiterate" {% if profile.qualification == "Illiterate" %}selected="selected"{% endif %}>Illiterate</option>
    	<option value="10th or below" {% if profile.qualification == "10th or below" %}selected="selected"{% endif %}>10th or below</option>
    	<option value="10+2" {% if profile.qualification == "10+2" %}selected="selected"{% endif %}>10+2</option>
    	<option value="Diploma or Equivalent" {% if profile.qualification == "Diploma or Equivalent" %}selected="selected"{% endif %}>Diploma or Equivalent</option>
    	<option value="Graduation" {% if profile.qualification == "Graduation" %}selected="selected"{% endif %}>Graduation</option>
    	<option value="PG or Equivalent" {% if profile.qualification == "PG or Equivalent" %}selected="selected"{% endif %}>PG or Equivalent</option>
    	<option value="PhD/MPhil or Equivalent" {% if profile.qualification == "PhD/MPhil or Equivalent" %}selected="selected"{% endif %}>PhD/MPhil or Equivalent</option>
    </select>
    </td>
    </tr>
    <tr>
    <td class="form-text">Education Specialization: </td>    
    <td>
    <input type="text" id="form_align" value = "{% if profile.specialization %}{{ profile.specialization }}{% endif %}"  name="specialization" style="font-size:15px;"/>
    </td>
    <tr>
    <td class="form-text">Certification Courses: </td>    
    <td>
    <input type="text" id="form_align" value = "{% if profile.certification %}{{ profile.certification }}{% endif %}"  name="certification" style="font-size:15px;"/>
    </td>
    </tr>
    <tr>
    <td class="form-text">Institute Name: </td>    
    <td>
    <input type="text" id="form_align" value = "{% if profile.institute %}{{ profile.institute }}{% endif %}"  name="institute" style="font-size:15px;"/>
    </td>
    </tr>
    <tr>
    <td class="form-text">Year of Passing: </td>
    <td>
    <select name="passing" id="passingmin">
    <option value="">--Enter Year--</option>
    <option value="1940">1940</option>
    <option value="1941">1941</option>
    <option value="1942">1942</option>
    <option value="1943">1943</option>
    <option value="1944">1944</option>
    <option value="1945">1945</option>
    <option value="1946">1946</option>
    <option value="1947">1947</option>
    <option value="1948">1948</option>
    <option value="1949">1949</option>
    <option value="1950">1950</option>
    <option value="1951">1951</option>
    <option value="1952">1952</option>
    <option value="1953">1953</option>
    <option value="1954">1954</option>
    <option value="1955">1955</option>
    <option value="1956">1956</option>
    <option value="1957">1957</option>
    <option value="1958">1958</option>
    <option value="1959">1959</option>
    <option value="1960">1960</option>
    <option value="1961">1961</option>
    <option value="1962">1962</option>
    <option value="1963">1963</option>
    <option value="1964">1964</option>
    <option value="1965">1965</option>
    <option value="1966">1966</option>
    <option value="1967">1967</option>
    <option value="1968">1968</option>
    <option value="1969">1969</option>
    <option value="1970">1970</option>
    <option value="1971">1971</option>
    <option value="1972">1972</option>
    <option value="1973">1973</option>
    <option value="1974">1974</option>
    <option value="1975">1975</option>
    <option value="1976">1976</option>
    <option value="1977">1977</option>
    <option value="1978">1978</option>
    <option value="1979">1979</option>
    <option value="1980">1980</option>
    <option value="1981">1981</option>
    <option value="1982">1982</option>
    <option value="1983">1983</option>
    <option value="1984">1984</option>
    <option value="1985">1985</option>
    <option value="1986">1986</option>
    <option value="1987">1987</option>
    <option value="1988">1988</option>
    <option value="1989">1989</option>
    <option value="1990">1990</option>
    <option value="1991">1991</option>
    <option value="1992">1992</option>
    <option value="1993">1993</option>
    <option value="1994">1994</option>
    <option value="1995">1995</option>
    <option value="1996">1996</option>
    <option value="1997">1997</option>
    <option value="1998">1998</option>
    <option value="1999">1999</option>
    <option value="2000">2000</option>
    <option value="2001">2001</option>
    <option value="2002">2002</option>
    <option value="2003">2003</option>
    <option value="2004">2004</option>
    <option value="2005">2005</option>
    <option value="2006">2006</option>
    <option value="2007">2007</option>
    <option value="2008">2008</option>
    <option value="2009">2009</option>
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012">2012</option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
    </select>
    </td>
    </tr>
    <tr>
    <td class="form-text">Job Type: </td>    
    <td>
    <input type="radio" name="course" id="form_align" {% if profile.jtype == "Full Time" %}checked="checked"{% endif %}value="Full Time" style="font-size:15px;"/> Full Time
    <input type="radio" name="course" id="form_align" {% if profile.jtype == "Part Time" %}checked="checked"{% endif %} value="Part Time" style="font-size:15px;"/> Part Time
    <input type="radio" name="course" id="form_align" {% if profile.jtype == "Internship" %}checked="checked"{% endif %} value="Internship" style="font-size:15px;"/> Internship
    </td>
    </tr>
    <tr><td><br/></td></tr>
    <th colspan="3"><div id="heading_one"><span id="title">Upload Your Resume</span></div></th>
    <tr><td><br/></td></tr>
    {% if resum.resume %}<tr>
    <td></td><td><a href="/static/assets/{{resum.resume}}" target="blank" ><span style="color:blue;">Previously Uploaded Resume</span><br/></a>Want to upload a new resume, click browse button</td>{% endif %}
    <tr>
    <td class="form-text">Resume: </td>    
    <td>
    <input type="file" id="pdf" value="/static/assets/{{ resum.resume }}" name="resume" style="font-size:15px;"/><br/><span style="font-size:10px;">(.pdf, .doc, .docx, .rtf and .txt files only.)</span>
    </td>
    </tr>
    <tr><td><br/></td></tr>
    <th colspan="3"><input id="design" type="submit" value="Save Changes" /></th>
    </table>
</form>
</div>
<div class="end_bar">
<center>
    <div class="ending"><a href="#">Feedback</a></div>
    <div class="ending"><a href="#">FAQ</a></div>
    <div class="ending"><a href="#">About us</a></div>
    <div class="ending"><a href="#">Contact us</a></div>
    <div class="ending"><a href="#">Privacy Policy</a></div>
    <div class="ending"><a href="#">Security Advice</a></div>
    <div class="ending"><a href="#">Terms & Condition</a></div>
    <div class="ending lasting"><a href="#">Disclaimer</a></div>
</center>
</div>
</center>



<style>
.nav {
	width:83.6em;
	height:2.9em;
	background: rgba(76,76,76,1);
background: rgba(210,255,82,1);
background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 43%, rgba(145,232,66,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,255,82,1)), color-stop(43%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 43%, rgba(145,232,66,1) 100%);
background: -o-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 43%, rgba(145,232,66,1) 100%);
background: -ms-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 43%, rgba(145,232,66,1) 100%);
background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 43%, rgba(145,232,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0 );
border-bottom: 5px solid orange;
}
.navbar:hover {
        box-shadow:0 0 0 0 ;
}
.navbar {
        box-shadow:0 0 5px rgba(0,0,0,0.8);
    border-left: 1px solid black;
    border-top: 1px solid black;
    display: inline-block;
    position:relative;
    width: 10em;
    height: 2em;
    margin-left: 2px;
    font-size:12px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.header {
        position:relative;
	top:1em;
}
.last {
    border-right: 1px solid black;
}
.full {
    position:relative;
    background-color: ;
    display:inline-block;
    top:1em;
}
.form-text {
    font-size: 15px;
}
#heading_one {
    border-radius:3px;
    height:2em;
    background: rgba(235,233,249,1);
background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 45%, rgba(206,199,236,1) 54%, rgba(193,191,234,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,233,249,1)), color-stop(45%, rgba(216,208,239,1)), color-stop(54%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 45%, rgba(206,199,236,1) 54%, rgba(193,191,234,1) 100%);
background: -o-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 45%, rgba(206,199,236,1) 54%, rgba(193,191,234,1) 100%);
background: -ms-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 45%, rgba(206,199,236,1) 54%, rgba(193,191,234,1) 100%);
background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 45%, rgba(206,199,236,1) 54%, rgba(193,191,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=0 );
}
#title {
    position:relative;
    top:5px;
    color: black;
}
.end_bar {
    background-color:#a8a8a8;
    height: 3em;
    width:83.6em;
    border-top:1px solid black;
    margin-top: 10em;
}
.ending {
    display: inline-block;
    border-right:1px solid black;
    width:10em;
    position: relative;
    top: 1em;
}
.lasting {
    border-right: 0px none;
}
#shift {
    position:relative;
    top:0.5em;
}
#design {
    border-radius:2px;
    padding:5px;
    background: rgba(235,233,249,1);
background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 45%, rgba(206,199,236,1) 54%, rgba(193,191,234,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,233,249,1)), color-stop(45%, rgba(216,208,239,1)), color-stop(54%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 45%, rgba(206,199,236,1) 54%, rgba(193,191,234,1) 100%);
background: -o-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 45%, rgba(206,199,236,1) 54%, rgba(193,191,234,1) 100%);
background: -ms-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 45%, rgba(206,199,236,1) 54%, rgba(193,191,234,1) 100%);
background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 45%, rgba(206,199,236,1) 54%, rgba(193,191,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=0 );
}
#complete {
    font-size: 2em;
}
a {
    text-decoration:none;
    color: black;
}
body {
    overflow-x: hidden;
}
.profilelink {
    position: relative;
    top:1em;
    right: 19.5em;
}
.same {
    position:relative;
    display: inline-block;
}
.signout {
    position: relative;
    top: 1em;
    left: 20em;
}
</style>
<script>
function createoptionsalary(){
    var min = 0.0;
    var max = 50.0;
    var x = document.getElementById("salarymin");
    for(var i = min; i<=max; i=i+0.5) {
    var option = document.createElement("option");
    option.value = i;
    option.text = 'Rs '+ i+' Lacs/Year';
    x.add(option);
    }}
</script>
</body>
</html>
