{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Jobs Finder-login</title>
<link rel="stylesheet" type="text/css" href="{% static "assets/css/home.css" %}">
</head>
<body>
<center>
<div class="nav">
<center>
<div class="header">
    <div class="navbar home" id="drop"><span id="shift" style="color:black"><a href="/">Home</a></span></div>
    <div class="navbar job" id="drop"><span id="shift" style="color:black"><a href="/signup/">Job Seeker Login</a></span></div>
    <div class="navbar job" id="drop"><span id="shift" style="color:black"><a href="/resumeservice/">Resume Services</a></span></div>
    <div class="navbar recruiter" id="drop"><span id="shift" style="color:black"><a href="/edit_profile/">Post Resume</a></span></div>
    <div class="navbar search_job" id="drop"><span id="shift" style="color:black"><a href="/searchjob/">Search Jobs</a></span></div>
    <div class="navbar job" id="drop"><span id="shift" style="color:black"><a href="/recruiter/">Employer Login</a></span></div>
    <div class="navbar job" id="drop"><span id="shift" style="color:black"><a href="/postjob/">Post a Job</a></span></div>
    <div class="navbar last" id="drop"><span id="shift" style="color:black"><a href="/buyonline/">Buy Online</a></span></div>
</div>
</center>
</div>
<div class="joint">
<div class="two_div company">
    <table>
	<th colspan="5" class="top_companies">Top Companies</th>
	<tr><td class="list_companies"><img class="comp" src="{% static "assets/images/convergys.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/exl.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/infosys.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/axon.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/deloitte.gif" %}" /></td>
	</tr>
	<tr><td class="list_companies"><img class="comp" src="{% static "assets/images/airtel.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/qualcomm.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/amity.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/mphasis.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/ustglobal.gif" %}" /></td>
	</tr>
	<tr><td class="list_companies"><img class="comp" src="{% static "assets/images/lnt.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/mphasis.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/ibm.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/virtusa.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/larsen.gif" %}" /></td>
	</tr>
	<tr><td class="list_companies"><img class="comp" src="{% static "assets/images/utc.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/mcafee.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/wipro.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/techmahindra.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/tata.gif" %}" /></td>
	</tr>
	<tr><td class="list_companies"><img class="comp" src="{% static "assets/images/meil.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/virtusa.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/indus.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/altisource.gif" %}" /></td>
	    <td class="list_companies"><img class="comp" src="{% static "assets/images/msnlabs.gif" %}" /></td>
	</tr>
    </table>
</div>
<div class="two_div connect">
    <div class="like"><b>Connect on Facebook</b><br><a href="#"><img class="connecting" src="{% static "assets/images/facebook.jpg" %}" /></a></div>
    <div class="like"><b>Follow us on Twitter</b><br><a href="#"><img class="connecting" src="{% static "assets/images/twitter.jpg" %}" /></a></div>
    <div class="like"><b>Reach us on google+</b><br><a href="#"><img class="connecting" src="{% static "assets/images/google+.jpg" %}" /></a></div>
    <div class="like"><b>Find us on Linkedin</b><br><a href="#"><img class="connecting" src="{% static "assets/images/linkedin.jpg" %}" /></a></div>
</div>
</div>
<div class="another">
    <table>
	<th colspan="3" class="latest_one"><b><center>Latest Companies</center></b></th>
	<tr><td><b>IT-Software</b></td><td><b>Banking/Financial Services</b></td><td><b>BPO/Call Center</b></td></tr>
	<tr>
	    <td class="latest">
		<ul>
		    <li><a href="#">TCS</a></li>
		    <li><a href="#">Wipro</a></li>
		</ul>
	    </td>
	    <td class="latest">
		<ul>
		    <li><a href="#">Bank of India</a></li>
		    <li><a href="#">Punjab National Bank</a></li>
		    <li><a href="#">United Bank</a></li>
		    <li><a href="#">Bank of Baroda</a></li>
		</ul>
	    </td>
	    <td class="latest">
		<ul>
		    <li><a href="#">Vodafone</a></li>
		    <li><a href="#">Airtel</a></li>
		    <li><a href="#">Unitech</a></li>
		</ul>
	    </td>
	</tr>
	<tr><td><b>Engineering/Training</b></td><td><b>Hospitality/Travel</b></td><td><b>Health Care/Pharma</b></td></tr>
	<tr>
	    <td class="latest">
		<ul>
		    <li><a href="#">Larsen & Turbo</a></li>
		    <li><a href="#">Tech Mahindra</a></li>
		    <li><a href="#">Oracle</a></li>
		</ul>
	    </td>
	    <td class="latest">
		<ul>
		    <li><a href="#">ITC Hotel</a></li>
		    <li><a href="#">Taj Hotel</a></li>
		    <li><a href="#">Vayama</a></li>
		</ul>
	    </td>
	    <td class="latest">
		<ul>
		    <li><a href="#">Apotex</a></li>
		    <li><a href="#">Baxter</a></li>
		    <li><a href="#">Biocon</a></li>
		    <li><a href="#">Cadiala Pharma</a></li>
		</ul>
	    </td>
	</tr>
	<tr><td><b>IT-Software</b></td><td><b>Banking/Financial Services</b></td><td><b>BPO/Call Center</b></td></tr>
	<tr>
	    <td class="latest">
		<ul>
		    <li><a href="#">TCS</a></li>
		    <li><a href="#">Wipro</a></li>
		</ul>
	    </td>
	    <td class="latest">
		<ul>
		    <li><a href="#">Bank of India</a></li>
		    <li><a href="#">Punjab National Bank</a></li>
		    <li><a href="#">United Bank</a></li>
		    <li><a href="#">Bank of Baroda</a></li>
		</ul>
	    </td>
	    <td class="latest">
		<ul>
		    <li><a href="#">Vodafone</a></li>
		    <li><a href="#">Airtel</a></li>
		    <li><a href="#">Unitech</a></li>
		</ul>
	    </td>
	</tr>
    </table>
</div>
<div class="browse">
    <table id="browse">
	<th colspan="2" class="browse_one"><b>Browse Jobs</b></th>
	<tr><td><b><i>By Functional Area</i></b></td><td><b><i>By Industry</i></b></td></tr>
	<tr><td>
		<ul>
		    <li><a href="#">Engineering</a></li>
		    <li><a href="#">Marketing/Advertising</a></li>
		    <li><a href="#">IT-Software Jobs</a></li>
		    <li><a href="#">HR/Recruitment Jobs</a></li>
		    <li><a href="#">Graphic Design/Web Design</a></li>
		    <li><a href="#">Finance/Accounts</a></li>
		    <li><a href="#">Architecture/Interior Design Jobs</a></li>
		    <li><a href="#">Medical/Health Care Jobs</a></li>
		    <li><a href="#">Oil & Gas Engineering Jobs</a></li>
		    <li><a href="#">Journalism/Content Writing</a></li>
		    <li><a href="#">Education/Training</a></li>
		    <li><a href="#">Other Jobs</a></li>
		</ul>
	    </td>
	    <td>
		<ul>
		    <li><a href="#">IT/Software Jobs</a></li>
		    <li><a href="#">BPO/Call Centre Jobs</a></li>
		    <li><a href="#">Pharma/Biotech Jobs</a></li>
		    <li><a href="#">Hotel/Restaurant Jobs</a></li>
		    <li><a href="#">Automobile Jobs</a></li>
		    <li><a href="#">Manufacturing Jobs</a></li>
		    <li><a href="#">Retail Jobs</a></li>
		    <li><a href="#">Telecom Jobs</a></li>
		    <li><a href="#">Travel/Tourism Jobs</a></li>
		    <li><a href="#">IT-Hardware/Networking Jobs</a></li>
		    <li><a href="#">Other Jobs</a></li>
		</ul>
	    </td>
	</tr>
    </table>
</div>
<div class="end_bar">
<center>
    <div class="ending"><a href="#">Feedback</a></div>
    <div class="ending"><a href="#">FAQ</a></div>
    <div class="ending"><a href="#">About us</a></div>
    <div class="ending"><a href="#">Contact us</a></div>
    <div class="ending"><a href="#">Privacy Policy</a></div>
    <div class="ending"><a href="#">Security Advice</a></div>
    <div class="ending"><a href="#">Terms & Condition</a></div>
    <div class="ending lasting"><a href="#">Disclaimer</a></div>
</center>
</div>
</center>
</body>
</html>
